body {
    background-color: teal;
    margin: 5em;
}
h1 {
    color: olivedrab;
    font-size: 8rem;
    font-family: "Oswald", serif;
    font-weight: bold; 
    text-align: center;
}

h2 {
    color: #daa520;
    font-size: 2.5rem; 
    font-family: "Oswald", serif;
    font-weight: 600;
    padding-top: 1em;
    margin-top: 2em;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 1px;
}

h3{
    color: goldenrod;
    font-size: 1.5rem;
    font-family: "Oswald", serif;
    font-weight: normal;
    padding-top: 0.5em;
    margin-top: 2em;
    text-transform: uppercase;
    text-align: center;
}
p, ol {
    color: olivedrab;
    font-size: 1rem;
    font-family: "DM Serif Text", serif;
    font-weight: light;
    text-indent: 0.5em;
    line-height: 2.5rem;
    text-align: justify;
    letter-spacing: normal;
    word-spacing: normal;
}
